<!-- 交易记录模块-->
<link rel="stylesheet" href="../static/css/module.css" />
<div class="warp group">
	<!-- 操作栏-->
	<div class="group-top">
		<button class="layui-btn layui-btn-fluid layui-btn-danger button float-right" onclick="openPanel()">下班</button>
	</div>

	<div class="group-list">
		<div class="box-shadow">
			<table border="0" cellspacing="0" cellpadding="0">
				<thead>
					<th>序号</th>
					<th>订单号</th>
					<th>购买人</th>
					<th>支付方式</th>
					<th>购买日期</th>
					<th>收银员</th>
					<th>金额</th>
					<th>操作</th>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>0020180317</td>
						<td>李力</td>
						<td>现金</td>
						<td>2018/03/17 15:33:50</td>
						<td>吴赫</td>
						<td>¥ 200</td>
						<td><a class="layui-btn layui-btn-xs layui-btn-normal bg-blue">查看</a></td>
					</tr>
					<tr>
						<td>2</td>
						<td>0020180317</td>
						<td>李力</td>
						<td>现金</td>
						<td>2018/03/17 15:33:50</td>
						<td>吴赫</td>
						<td>¥ 200</td>
						<td><a class="layui-btn layui-btn-xs layui-btn-normal bg-blue">查看</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<!-- 下班弹窗 -->
	<div class="refund-panel" id="refundPanel" style="display: none">
		<div class="group-top padding-big-top">
			<h5 class="title">基础信息</h5>
			<div class="infoList">
				<ul>
					<li>
						<i class="icon"><img src="../static/img/icon-01.png"></i>
						<span>店铺名称:</span>
						<span>柠檬</span>
					</li>
					<li>
						<i class="icon"><img src="../static/img/icon-03.png"></i>
						<span>收银员:</span>
						<span>李瑞</span>
					</li>
					<li style="">
						<i class="icon"><img src="../static/img/icon-05.png"></i>
						<span>编号:</span>
						<span>0025</span>
					</li>
					<li>
						<i class="icon"><img src="../static/img/icon-02.png"></i>
						<span>上班时间:</span>
						<span>2018-12-13 12:00:00</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="group-list">
			<div class="box-shadow" style="width: 95%">
				<h5 class="title">收款信息</h5>
				
			</div>	
		</div>
		<!-- 商品信息汇总 -->
		<div class="shopGoodsClearing padding-big ">
			<button class="layui-btn" onclick="getLogout()">下班</button>
		</div>
	</div>

</div>

<script type="text/javascript" src="./alterationSystem/alteration.js"></script>