<!-- 收银模块-->
<div class="warp cashier integral-warp">
    <div class="left" style="width: 90%">
        <!-- 会员登入 -->
        <div class="memberLogin border-gray border-bottom">
            <div class="ScanCodeinput" id="ScanCodeMemberInput">
        		<input type="text" name="" class="layui-input" id="ScanCodeMember" placeholder="扫码添加会员信息">
        	</div>
            <div class="memberInfo" id="memberInfo" style="display: none;">
                <script type="text/template" id="memberInfoList">
                    <ul>
                        <li>会员:<span>{{value.nick}}</span></li>
                        <li>手机号:<span>{{value.phone}}</span></li>
                        <li>积分:<span>{{value.points}}</span></li>
                        <li>余额:<span>{{value.cash}}</span></li>
                    </ul>
                </script>
            </div>
        </div>
        <div id="paymentPanel" >
                <div class="form-group">
                    <label>请选择支付方式：</label>
                    <div class="form-input">
                        <input type="radio" name="paymentKey" value="1">
                        <label>积分</label>

                    </div>
                    <div class="form-input">

                        <input type="radio" name="paymentKey" value="2">
                        <label>余额+积分</label>
                    </div>
                    <div class="form-input">
                        <input type="radio" name="paymentKey" value="3">
                        <label>余额+消费券</label>
                    </div>
                    <div class="form-input">
                        <input type="radio" name="paymentKey" value="4">
                        <label>现金+积分</label>
                    </div>
                    <div class="form-input">
                        <input type="radio" name="paymentKey" value="5">
                        <label>现金+消费券</label>
                    </div>
                    <div class="form-input">
                        <input type="radio" name="paymentKey" value="6">
                        <label>消费券</label>
                    </div>

                </div>
        </div>
        <!-- 商品列表 -->
        <div class="shopGoodslist ">
        	<div class="ScanCodeinput border-gray border-bottom padding-big-bottom">
        		<input type="text" name="" class="layui-input" id="ScanCodeinput" placeholder="扫码添加商品">
        	</div>
            <ul id="Goods">
                <script type="text/template" id="GoodsList">
                    {{each list.goodsListData as value i}}
                    <li class="border-gray border-bottom padding-big-bottom padding-big-top" data-gNo="{{value.goodsNo}}"  data-goodsId="{{value.goodsId}}"  >
                        <div class="shopGoodsTop">
                            <h5 title="{{value.goodsName}}">{{value.goodsName}}</h5>
                            <!--<span>{{value.unit}}</span>-->
                        </div>
                        <div class="shopGoodsCT margin-big-top">
                            <div class="shopGoodPrice">
                                <p>金额:¥ <span class="price">{{value.price}}</span></p>
                                <p>积分:  <span class="integral">{{value.integral}}</span></p>
                                <p>消费券: <span class="coupon">0.00</span></p>
                            </div>

                            <div>
                                <span class="minus" data-goodsId="{{value.goodsId}}"> - </span>
                                <span class="number">{{value.num}}</span>
                                <span class="add" data-goodsId="{{value.goodsId}}"> + </span>
                            </div>
                        </div>
                    </li>
                    {{/each}}
                </script>
            </ul>
        </div>
        <!-- 商品信息汇总 -->
        <div class="shopGoodsClearing padding-big  border-gray border-top">
            <div class="shopGoodsInfo padding-big-top">
                <p>余额：¥ <span id="balance">0.00</span></p>
                <p>积分：¥ <span id="integralPrice">0.00</span></p>
                <p>消费券：¥ <span id="couponPrice">0.00</span></p>
                <p>现金：¥ <span id="payPrice" class="payPrice">0.00</span></p>
            </div>
            <div class="shopGoodsBtn margin-big-top">
                <button class="layui-btn layui-btn-primary layui-btn-radius layui-btn-lg button-active float-right margin-big-left" onclick="checkOut()">结账</button>
                <button class="layui-btn layui-btn-primary layui-btn-radius layui-btn-lg float-right " onclick="reset()">清空</button>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript" src="../view/integral/cashierSystem/cashierSystem.js"></script>
