html {
	margin: 0;
	padding: 0;
	border: 0;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}
.container,
.container-layout {
	margin: 0 auto;
	padding: 0 10px
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.float-left {
	float: left!important
}

.float-right {
	float: right!important
}


/*bg color */
.bg-blue{
	background-color: #4786ff
}

.bg-purple{
	background-color: #643cbc !important;
}
.bg-white{
	background-color: white !important;
}

/* border line*/

.border {
	border: solid 1px #ddd
}

.border-none {
	border: 0
}

.border-top {
	border-top: solid 1px #ddd
}

.border-right {
	border-right: solid 1px #ddd
}

.border-bottom {
	border-bottom: solid 1px #ddd
}

.border-left {
	border-left: solid 1px #ddd
}

/* pding margin */

.padding-big {
	padding: 20px
}

.padding-big-top {
	padding-top: 20px
}

.padding-big-right {
	padding-right: 20px
}

.padding-big-bottom {
	padding-bottom: 20px
}

.padding-big-left {
	padding-left: 20px
}

.padding {
	padding: 10px
}

.padding-top {
	padding-top: 10px
}

.padding-right {
	padding-right: 10px
}

.padding-bottom {
	padding-bottom: 10px
}

.padding-left {
	padding-left: 10px
}

.padding-small {
	padding: 5px
}

.padding-small-top {
	padding-top: 5px
}

.padding-small-right {
	padding-right: 5px
}

.padding-small-bottom {
	padding-bottom: 5px
}

.padding-small-left {
	padding-left: 5px
}

.padding-little {
	padding: 2px
}

.padding-little-top {
	padding-top: 2px
}

.padding-little-right {
	padding-right: 2px
}

.padding-little-bottom {
	padding-bottom: 2px
}

.padding-little-left {
	padding-left: 2px
}

.margin-large {
	margin: 30px
}

.margin-large-top {
	margin-top: 30px
}

.margin-large-right {
	margin-right: 30px
}

.margin-large-bottom {
	margin-bottom: 30px
}

.margin-large-left {
	margin-left: 30px
}

.margin-big {
	margin: 20px
}

.margin-big-top {
	margin-top: 20px
}

.margin-big-right {
	margin-right: 20px
}

.margin-big-bottom {
	margin-bottom: 20px
}

.margin-big-left {
	margin-left: 20px
}

.margin {
	margin: 10px!important;
	clear: both
}

.margin-top {
	margin-top: 10px
}

.margin-right {
	margin-right: 10px
}

.margin-bottom {
	margin-bottom: 10px
}

.margin-left {
	margin-left: 10px
}

.margin-small {
	margin: 5px
}

.margin-small-top {
	margin-top: 5px
}

.margin-small-right {
	margin-right: 5px
}

.margin-small-bottom {
	margin-bottom: 5px
}

.margin-small-left {
	margin-left: 5px
}

.margin-little {
	margin: 2px
}