<!-- 收银模块-->

<div class="warp cashier">

	<div class="left">
		<!-- 会员登入 -->
		<div class="memberLogin border-gray border-bottom">
			<h5>点击登入会员</h5>
		</div>

		<!-- 商品列表 -->
		<div class="shopGoodslist  padding-big">
			<ul>
				<li class="border-gray border-bottom padding-big-bottom">
					<div class="shopGoodsTop">
						<h5>卡布奇洛</h5>
						<span>大杯350ml</span>
					</div>
					<div class="shopGoodsCT margin-big-top">
						<span class="price">¥ 15.00</span>
						<div>
							<span class="minus"> - </span>
							<span class="number"> 3 </span>
							<span class="add"> + </span>
						</div>
					</div>
				</li>
				<li class="border-gray border-bottom padding-big-bottom padding-big-top">
					<div class="shopGoodsTop">
						<h5>卡布奇洛</h5>
						<span>大杯350ml</span>
					</div>
					<div class="shopGoodsCT margin-big-top">
						<span class="price">¥ 15.00</span>
						<div>
							<span class="minus"> - </span>
							<span class="number"> 3 </span>
							<span class="add"> + </span>
						</div>
					</div>
				</li>
				<li class="border-gray border-bottom padding-big-bottom padding-big-top">
					<div class="shopGoodsTop">
						<h5>卡布奇洛</h5>
						<span>大杯350ml</span>
					</div>
					<div class="shopGoodsCT margin-big-top">
						<span class="price">¥ 15.00</span>
						<div>
							<span class="minus"> - </span>
							<span class="number"> 3 </span>
							<span class="add"> + </span>
						</div>
					</div>
				</li>
				<li class="border-gray border-bottom padding-big-bottom padding-big-top">
					<div class="shopGoodsTop">
						<h5>卡布奇洛</h5>
						<span>大杯350ml</span>
					</div>
					<div class="shopGoodsCT margin-big-top">
						<span class="price">¥ 15.00</span>
						<div>
							<span class="minus"> - </span>
							<span class="number"> 3 </span>
							<span class="add"> + </span>
						</div>
					</div>
				</li>
				<li class="border-gray border-bottom padding-big-bottom padding-big-top">
					<div class="shopGoodsTop">
						<h5>卡布奇洛</h5>
						<span>大杯350ml</span>
					</div>
					<div class="shopGoodsCT margin-big-top">
						<span class="price">¥ 15.00</span>
						<div>
							<span class="minus"> - </span>
							<span class="number"> 3 </span>
							<span class="add"> + </span>
						</div>
					</div>
				</li>
				
			</ul>
		</div>

		<!-- 商品信息汇总 -->
		<div class="shopGoodsClearing padding-big  border-gray border-top">
			<div class="shopGoodsInfo padding-big-top">
				<p>合计：<span>¥ 135.00</span></p>
				<p>优惠券：<span>¥ 5.00</span></p>
				<p>积分：<span>¥ 5.00</span></p>
				<p>实收：<span class="price">¥ 125.00</span></p>
			</div>
			<div class="shopGoodsBtn margin-big-top">
				
				<button class="button button-active float-right margin-big-left">挂账</button>
				<button class="button  float-right ">清空</button>
			</div>
		</div>

	</div>
	<div class="right">
		<div class="settlementModule">
			<!-- 结算方式 -->
			<div class="settlementMethod">
				<ul>
					<li class="active">现金</li>
					<li>二维码</li>
					<li>余额</li>
				</ul>
			</div>
			<br  clear="all"/>
			<div id="" class="margin-big-top border-gray border-bottom">
				<span>应收金额</span>
				<span class="price">¥ 125.00</span>
			</div>
			<div id="" class="margin-big-top border-gray border-bottom">
				<div>
					<span>实收金额</span>
					<input type="text" readonly="" name="">
				</div>
				<div>
					<span>找零</span>
					<span></span>
				</div>
			</div>
			<!--  触摸键盘 -->
			<div class="">
				<ul>
					<li>7</li>
					<li>8</li>
					<li>9</li>
					<li>x</li>

					<li>4</li>
					<li>5</li>
					<li>6</li>
					<li>¥10</li>

					<li>1</li>
					<li>2</li>
					<li>3</li>
					<li>¥50</li>

					<li>0</li>
					<li>00</li>
					<li>.</li>
					<li>¥100</li>
				</ul>
			</div>
			<!-- 结算 -->
			<div class="btn">
				<button class="button">结账</button>
			</div>
		</div>
		
	</div>

</div>