<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>福缘超市</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="renderer" content="webkit">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">		
		<link rel="stylesheet" href="../static/css/main/laypage.css" />
		<link rel="stylesheet" href="../static/css/main/layui.css" />
		<link rel="stylesheet" href="../static/css/main/public.css">
		<link rel="stylesheet" href="../static/css/index.css" />
		<script type="text/javascript" src="../lib/jquery.js"></script>
		<script type="text/javascript" src="../lib/template.js"></script>
		<script type="text/javascript" src="../static/js/center.js"></script>
		<script type="text/javascript" src="../lib/layui.js"></script>
		<script type="text/javascript" src="../lib/initPage.js"></script>
	</head>

	<body>
		<div class="container-layout">
				<!--s:左边功能块-->
				<div class="tb_left left-nav">
					<ul>
						<li  data-url='cashierSystem/index.html'>
							<span class="icon01"></span>
							<font class="title">收银</font>							
						</li>
						<li data-url='tradingRecord/index.html'>
							<span class="icon02"></span>
							<font class="title">交易记录</font>							
						</li>
						<li data-url='orderSystem/index.html'>
							<span class="icon03"></span>
							<font class="title">挂单</font>							
						</li>
						<li data-url='swopSystem/index.html'>
							<span class="icon04"></span>
							<font class="title">退还货</font>							
						</li>
						<li data-url='alterationSystem/index.html'>
							<span class="icon05"></span>
							<font class="title">交换班</font>							
						</li>
						<li data-url='setSystem/index.html'>
							<span class="icon06"></span>
							<font class="title">设置</font>							
						</li>
					</ul>					
				</div>
				<!--e:左边功能块-->
				<!--s:右边功能块-->
				<div class="tb_right" id="mali">

				</div>
			</div>
	</body>

	<script type="text/javascript" src="https://cdn.bootcss.com/layer/2.4/layer.js"></script>
	<script type="text/javascript" src="../lib/laypage.js"></script>
	<script type="text/javascript" src="../static/js/index.js"></script>
	
</html>