<html>
<head>
    <meta charset="utf-8">
    <title>jQuery打印插件jqprint</title>
    <script language="javascript" src="../lib/jquery-1.4.4.min.js"></script>
    <!--
    如果您使用的是高版本jQuery调用下面jQuery迁移辅助插件即可
    <script src="http://www.jq22.com/jquery/jquery-migrate-1.2.1.min.js"></script>
    -->
    <script language="javascript" src="../static/js/jquery.jqprint-0.3.js"></script>
    <script language="javascript">
		function aa() {
			$("#ddd").jqprint();
			$("#table1").jqprint({
				debug: false, //如果是true则可以显示iframe查看效果
				//（iframe默认高和宽都很小，可以再源码中调大），默认是false
				importCSS: true, //true表示引进原来的页面的css，默认是true。
				//（如果是true，先会找$("link[media=print]")，若没有会去找$("link")中的css文件）
				printContainer: true, //表示如果原来选择的对象必须被纳入打印
				//（注意：设置为false可能会打破你的CSS规则）。
				operaSupport: true//表示如果插件也必须支持歌opera浏览器，在这种情况下，
				//它提供了建立一个临时的打印选项卡。默认是true
			});
		}
    </script>
    <style>
        * {
            font-size: 8px;
        }
    </style>
</head>

<body>
<div id="ddd">
    <div>
        地址：重庆市重庆市重庆市重庆市重庆市重庆市重庆市
    </div>
    <div>
        电话：
    </div>
    <div style="height: 1px;background-color: #000;width: 100%"></div>
    <div style="height: 1px;background-color: #000;width: 100%;margin-top: 1px;"></div>
    <table>
        <tr>
            <td>店号：</td>
            <td>dzs1</td>
            <td>机号：</td>
            <td>001</td>
            <td>流水号：</td>
            <td>001</td>
        </tr>
        <tr>
            <td>收银员：</td>
            <td>1111</td>
            <td>日期：</td>
            <td colspan="3">2018-01-05</td>
        </tr>
    </table>
    <div style="height: 1px;background-color: #000;width: 100%"></div>
    <div style="height: 1px;background-color: #000;width: 100%;margin-top: 1px;"></div>
    <table>
        <tr>
            <td>商品名</td>
            <td>数量</td>
            <td>单价</td>
            <td>金额</td>
        </tr>
        <tr>
            <td>
                sdfjdfslkadfks<br>
                565656555
            </td>
            <td>1</td>
            <td>15.9</td>
            <td>
                15.9
            </td>
        </tr>
        <tr>
            <td>
                合计：
            </td>
            <td>2</td>
            <td></td>
            <td>
                31.8
            </td>
        </tr>
        <tr>
            <td>
                收款：
            </td>
            <td>会员卡</td>
            <td></td>
            <td>
                31.8
            </td>
        </tr>
        <tr>
            <td colspan="4">
                185886480108
            </td>
        </tr>
        <tr>
            <td>
                实收金额：
            </td>
            <td></td>
            <td></td>
            <td>
                31.8
            </td>
        </tr>
        <tr>
            <td>
                找赎：
            </td>
            <td></td>
            <td></td>
            <td>
                31.8
            </td>
        </tr>

        <tr>
            <td>
                会员号：
            </td>
            <td></td>
            <td></td>
            <td>
                00
            </td>
        </tr>
    </table>

    <div style="height: 1px;background-color: #000;width: 100%"></div>
    <div style="height: 1px;background-color: #000;width: 100%;margin-top: 1px;"></div>

    <div style="text-align: center">
        13:32:88
    </div>
    <div>
        木林森鑫园超市销售单
    </div>
    <div>
        感谢您的光临，期待您的下一次惠顾！
    </div>
    <div>
        如需发票，请携带本票至服务台开取；一个月内，凭票有效。
    </div>
</div>
<input type="button" onclick="aa()" value="打印"/>
</body>
</html>
